*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display:flex;
    justify-content: center;
    height: 50px;
    align-items: cneter;
    position: sticky;
    top: 0;
}

